/* NOTICIA */

section.sobre__noticia{
    padding: 30px 0;
}
.sobre__single_noticia{
    gap: 10px;
}
.sobre__single_noticia img{
   max-width: 100%;
   width: 50%;
}
.img-text{
    flex-direction: column;
    gap: 10px;
}
section.sobre__noticia p{
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
}
section.sobre__noticia .container > p{
    margin-top: 10px;
}

/* PARALLAX */

section.parallax{
    padding: 30px 0;
    width: 100%;
    background-image: url('../images/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
section.parallax .container{
    flex-direction: column;
}
section.parallax h2.chamada-parallax{
    border: 1px solid #44d4c5;
    padding: 5px 8px;
    color: #44d4c5;
    font-size: 18px;
    display: inline-block;
}
section.parallax p{
    color: white;
    margin-top: 10px;
}

/* EQUIPE */

section.equipe{
    padding: 30px 0;
}
.equipe-circles{
    margin-top: 30px;
}
.equipe-circles .divisor{
    display: none;
}
.equipe-circle-single{
    padding: 0 20px;
    text-align: center;
}
.equipe-circle-single h3{
    margin-top: 8px;
    font-weight: normal;
}
.equipe-circle-single p{
    font-weight: lighter;
}
.avatar-single{
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
}
.avatar-single-container{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ccc;
}

/* SOBRE FINAL */

section.sobre__final{
    padding: 30px 0;
    background-color: rgb(225, 225, 225);
    border-top: 2px solid rgb(210, 210, 210);
}
section.sobre__final .container{
    gap: 10px;
}
.card-text{
    position: relative;
}
.card-text img{
    max-width: 100%;
    filter: brightness(80%);
    transition: 0.6s;
}
.card-text img:hover{
    filter: brightness(100%);
}
.card-text h3{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}
section.sobre__final p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
}

/* RESPONSIVO */

@media (max-width: 1150px){
    .w50{
        width: 100%;
    }
    .sobre__single_noticia img{
        width: 80%;
    }
    .sobre__single_noticia{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sobre__single_noticia .divisor{
        display: none;
    }
}

@media (max-width: 768px){
    section.sobre__final .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    section.sobre__final .divisor{
        display: none;
    }
    section.sobre__final .w50{
        width: 80%;
    }
    section.sobre__final p{
        text-align: justify;
    }
}

@media(max-width: 620px){
    .equipe-circles{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .equipe-circles .divisor{
        display: block;
        width: 50%;
    }
    .equipe-circle-single{
        width: 50%;
    }
}