* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    outline: 0;
}

:root {
    --minha-shadow: 10px 10px 43px -28px rgba(0, 0, 0, 0.64);
}

/* AUX */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.w100{
    width: 100%;
}
.w60{
    width: 60%;
}
.w50 {
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w33{
    width: 33.3%;
}
.center {
    text-align: center;
}
.flex {
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flexCenter {
    justify-content: center !important;
    align-items: center !important;
}
.on{
    display: block !important;
}

/* HEADER */

header {
    padding: 8px 0;
}
header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.menu-desktop li.selected {
    font-weight: normal;
    text-decoration: underline;
}
nav.menu-desktop li {
    display: inline-block;
    padding: 0 10px;
    font-weight: lighter;
}
nav.menu-desktop li a {
    text-decoration: none;
    color: black;
}
nav.menu-desktop a:hover {
    text-decoration: underline;
}
i.btnMobile{
    font-size: 20px;
    cursor: pointer;
    display: none;
}
nav.menu-mobile{
    background-color: white;
    position: absolute;
    top: 50px;
    z-index: 999;
    right: 10px;
    display: none;
}
nav.menu-mobile li.selected{
    background-color: #eee;
    font-weight: bolder;
}
nav.menu-mobile li{
    display: block;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
nav.menu-mobile li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 100px;
}

/* MAIN */

section.main {
    width: 100%;
    min-height: calc(100vh - 49px);
    background: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
section.main::before {
    content: "";
    width: 100%;
    height: calc(100vh - 49px);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}
section.main .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 49px);
    gap: 20px;
}
section.main h2 {
    color: #52aaa7;
    font-size: 40px;
    font-weight: normal;
}
section.main p {
    color: white;
    font-size: 17px;
}
.btn {
    display: inline-block;
    background-color: #52aaa7;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.6s;
    font-size: 20px;
    font-weight: lighter;
}
.btn:hover {
    background-color: #54c2be;
}

/* DIFERENCIAIS */

section.diferenciais {
    padding: 30px 0;
    text-align: center;
}
.line-text {
    position: relative;
    display: inline-block;
    color: #52aaa7;
}
.line-text > .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 3px;
    background-color: #52aaa7;
}
.line-text h2 {
    font-weight: normal;
    font-size: 27px;
}
.icones-diferenciais {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.icones-diferenciais .box-icon-single {
    width: calc(100% / 4);
    background-color: #ddd;
    padding: 10px 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    h2 {
        font-size: 20px;
    }
}
.icones-diferenciais .box-icon-single:nth-of-type(2) {
    flex: 1;
    background-color: #eeeeee;
    height: 250px;
    h2 {
        font-size: 30px;
        color: #52aaa7;
    }
}
.box-icon-single h2 {
    color: #8a6b62;
}

/* SOBRE */

section.sobre {
    padding: 30px 0;
    background-color: #eee;
}
section.sobre > .container {
    display: flex;
    gap: 20px;
    height: 100%;
}
section.sobre .equipe-container .member {
    display: flex;
    gap: 10px;
    padding: 10px 2%;
    width: 100%;
}
.member img {
    width: 20%;
    border-radius: 50%;
    height: 50%;
}
.member .member-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    font-weight: lighter;
}
.member h1 {
    font-weight: normal;
    font-size: 20px;
    border-bottom: 1px solid #52aaa7;
    color: #52aaa7;
}
.equipe-container .btn {
    padding: 10px 20px;
    font-size: 15px;
}
.divisor {
    background-color: #52aaa7;
    border-width: 1px;
    border-style: solid;
    border-color: #52aaa7;
}
.sobre-container {
    flex: 1;
}
.sobre-container p {
    font-weight: lighter;
    font-size: 15px;
}

/* INSCRICAO */

section.inscricao {
    background-color: #52aaa7;
    padding: 20px 0;
}
.inscricao-text {
    color: white;
}
.inscricao-form input[type="text"] {
    width: calc(100% - 121px);
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
    padding-left: 8px;
}
.inscricao-form input[type="submit"] {
    width: 120px;
    height: 40px;
    background-color: #1d6c64;
    display: inline-block;
    margin-left: -4px;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
}

/* CARDS */

section.cards {
    padding: 30px 0;
}
.cards .container {
    gap: 50px;
}
.card-single {
    width: calc(100% / 3);
    box-shadow: var(--minha-shadow);
    -webkit-box-shadow: var(--minha-shadow);
    -moz-box-shadow: var(--minha-shadow);
}
.card-single img {
    width: 100%;
}
.card-single h3 {
    font-weight: normal;
    font-size: 19px;
    text-align: center;
}
.card-single p {
    font-weight: lighter;
    font-size: 16px;
    padding: 0 2%;
    text-align: justify;
}

/* FOOTER */

footer.footer1{
    background-color: #52aaa7;
    padding: 20px 0;
    color: white;
}
footer.footer1 .container{
    gap: 10px;
}
footer.footer1 h2{
    font-weight: normal;
    font-size: 23px;
}
footer.footer1 p{
    font-weight: lighter;
    font-size: 15px;
}
footer.footer1 a{
    display: block;
    color: white;
    text-decoration: none;
}
footer.footer1 .groupIcons a{
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
}
footer.footer1 .divisor{
    border-color: white;
}
footer.footer2{
    color: white;
    background-color: #237a70;
    text-align: center;
    padding: 10px 0;
}

/* PAGES PADRÕES */

section.title-page{
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
section.title-page::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
section.title-page > .container{
    position: relative;
    z-index: 2;
}
section.title-page h2{
    color: #44d4c5;
    font-size: 35px;
    font-weight: normal;
}
section.title-page p{
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}


/* RESPONSIVIDADE */

@media (max-width: 1150px) {
    .icones-diferenciais .box-icon-single {
        width: 100%;
    }
    .icones-diferenciais .box-icon-single:nth-of-type(2) {
        height: auto;
        h2 {
            font-size: 20px;
            color: #8a6b62;
        }
    }
    section.sobre > .container {
        flex-wrap: wrap;
    }
    .equipe-container {
        width: 100%;
        text-align: center;
    }
    section.sobre .equipe-container .member{
        justify-content: center;
    }
    .sobre-container {
        text-align: justify;
    }
    .sobre .divisor {
        display: none;
    }
    .cards .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-single{
        width: 80%;
    }
    section.inscricao .container{
        flex-wrap: wrap;
        gap: 10px;
    }
    .w50{
        width: 80%;
    }
}

@media (max-width: 768px){
    .menu-desktop{
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    i.btnMobile{
        display: block;
    }
    footer.footer1 .container{
        flex-wrap: wrap;
    }
    footer.footer1 .w33{
        width: 100%;
        text-align: center;
    }
    footer.footer1 .divisor{
        width: 100%;
    }
    .w60, .w40, .w50{
        width: 100%!important;
    }
}